*{
  margin: 0;
  padding: 0;
}

html, body {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}



